
# cached files and objects
wwwroot/.cached/files
wwwroot/.cached/objects

# generated docs
wwwroot/docs

# utility repositories that are managed outside of ellipsis
utils/simpletest
utils/docblox

# a place to keep work in progress files
wip

# ignore svn directories
*.svn

# ignore eclipse .project files
.project