# Enable rewrite engine
RewriteEngine on
RewriteBase /

# Force default home page
RedirectMatch ^/$ /index.php

# Force directory listing to index.php
DirectoryIndex index.php

# Route missing files to the framework
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* .ellipsis/config.php [L,QSA]

